.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  list-style-type: none;
}

.card__image {
  height: 282px;
  width: 282px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card__description {
  display: flex;
  color: black;
  background-color: white;
  padding: 25px 20px 25px 20px;
  align-items: center;
  justify-content: space-between;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.card__like-button {
  background: transparent url(../images/likeactive.svg) center no-repeat;
  height: 18px;
  width: 21px;
  border: none;
  cursor: pointer;
}

.card__like-button-active {
  background-image: url(../images/Union.svg);
}

.card__like-button:hover {
  opacity: 50%;
}

.card__title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}
