.footer__copyright {
  color: #545454;
  margin-bottom: 60px;
  margin-top: 67px;
  font-size: 18px;
  line-height: 21.78px;
}

.footer {
  flex-shrink: 0;
}

@media screen and (max-width: 321px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 16.94px;
    margin-top: 48px;
    font-weight: 400;
    padding: 0;
    max-width: 880px;
    width: 100%;
  }

  .footer {
    padding: 0;
  }
}
