.header {
  margin-top: 45px;
  border-bottom: 1px solid #545454;
  padding-bottom: 41px;
  opacity: 0.7;
}

@media screen and (max-width: 321px) {
  .header {
    margin: 28px 167px 0 27px;
    width: 100vw;
  }

  .header__logo {
    width: 126px;
    height: 24px;
  }
}
