.profile {
  display: flex;
  padding-top: 40px;
  align-items: center;
}
.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, px) auto;
  align-items: center;
}

.profile__edit-button {
  background: transparent url(../images/Edit\ Button.svg) center no-repeat;
  height: 24px;
  width: 24px;
  grid-area: button;
  margin: 15px 0 0 18px;
  margin: 0;
}

.profile__edit-button:hover {
  opacity: 60%;
}

.profile__add-button:hover {
  opacity: 60%;
}
.profile__add-button {
  background: transparent url(../images/Add\ Button.svg) center no-repeat;
  width: 150px;
  height: 50px;
  margin-left: auto;
  opacity: 100;
}

.profile__title {
  line-height: 48px;
  font-weight: 500;
  grid-area: title;
  padding: 22px 0 0 0;
  margin: 0;
}

.profile__description {
  line-height: 21.78px;
  font-weight: 400;
  grid-area: description;
  margin: 7px 0 0 0;
  font-size: 18px;
}

.profile__image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  margin-right: 30px;
  margin-bottom: auto;
}

@media screen and (max-width: 480px) {
  .profile {
    flex-direction: column;
  }

  .profile__info {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin: 0 62px 0;
    justify-content: center;
  }

  .profile__description {
    width: 100%;
    text-align: center;
    overflow: hidden;
    max-width: 373px;
  }

  .profile__add-button {
    margin: 0;
    min-width: 100%;
    padding: 0;
  }
}

@media screen and (min-width: 320px) {
  .profile__description {
    max-width: 282px;
    max-height: 50px;
    margin-bottom: 36px;
    margin-top: 14px;
    text-align: center;
  }

  .profile__edit-button {
    width: 17px;
    height: 17px;
  }

  .profile__add-button {
    max-width: 282px;
    border: none;
    height: 50px;
  }

  .profile__info {
    display: grid;
  }

  .profile__title {
    max-width: 100vw;
    text-align: center;
    white-space: nowrap;
    padding-top: 30px;
  }

  .profile__edit-button:hover {
    opacity: 60%;
  }

  .profile__add-button:hover {
    opacity: 60%;
  }
}
